

numpy
plotly
scikit-learn
ipykernel
ipython
python-dotenv
altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
comm
debugpy
decorator
entrypoints
executing
fonttools
gitdb
GitPython
greenlet
idna
importlib_resources
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe

matplotlib-inline
mdurl
nest-asyncio
networkx
packaging
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
six
smmap
stack-data
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
torch_geometric
torch
statsmodels
prophet

xgboost
mkdocs==1.6.1
mkdocs-autorefs==1.2.0
mkdocs-get-deps==0.2.0
mkdocs-jupyter==0.25.1
mkdocs-material==9.5.47
mkdocs-material-extensions==1.3.1
mkdocstrings==0.27.0
mkdocstrings-python==1.12.2